.green{
    background-color: green;
    width:1200px;
    height:600px;
    position: relative;
}
.green>div{
    background-color: white;
    width:400px;
    height: 600px;
    position: absolute;
    left: 400px;
}
.green > .orange{
    background-color: orange;
    width: 400px;
    height: 600px;
    position: absolute;
    left: 800px;
}